.project {
  width: 215px;
  height: 268px;
  border: 1px solid $project-pres-border;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.delimiter {
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: $project-pres-border;
}
.button-outline {
  color: $button-text-color;
}
.label,
.sublabel {
  width: 90%;
}